extends layout.pug

append head
  link(rel='stylesheet', type='text/css', href='index-style.css')

mixin headerLink(url, name)
  h1
    if title == name
      = name
    else
      a(href=url)= name

append body
  header
    nav
      +headerLink('index.html', 'Arbital Scrape Index')
      +headerLink('page/arbital_front_page.html', 'Arbital Front Page')
      +headerLink('explore.html', 'Explore')
      +headerLink('by-tag.html', 'By Tag')
      +headerLink('by-creator.html', 'By Creator')
      +headerLink('by-editor.html', 'By Editor')
      +headerLink('by-likes.html', 'By Likes')
