extends index-layout.pug

append body
  hr
  footer
    h2: a(href='debug.html') Debug
    p
      | For source code, see the arbital-scrape-source-code directory.
      | You can easily modify these generated pages without needing to download all the files again (save a backup first).
