script(type='text/x-mathjax-config').
  MathJax.Hub.Config({
    SVG: {EqnChunk: 50, EqnChunkFactor: 1.5, EqChunkDelay: 10, useFontCache: false, linebreaks: {automatic: true}},
    tex2jax: {
      inlineMath: [['$~$', '$~$']],
      displayMath: [['$$~$', '$~$$']],
      processEscapes: true,
      preview: 'none',
    },
    showProcessingMessages: false,
    messageStyle: 'none',
    // http://docs.mathjax.org/en/latest/config-files.html#the-tex-ams-svg-configuration-file
    jax: ["input/TeX","output/SVG", "output/PreviewHTML"],
    extensions: ["tex2jax.js","MathMenu.js","MathZoom.js", "fast-preview.js", "AssistiveMML.js", "a11y/accessibility-menu.js"],
    TeX: { extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"] }
  });
if argv['remote-mathjax']
  script(type='text/javascript', src=`https://cdnjs.cloudflare.com/ajax/libs/mathjax/${config.mathjaxVersion}/MathJax.js?config=TeX-AMS_SVG` async)
else
  script(type='text/javascript', src=`${root}MathJax-${config.mathjaxVersion}/MathJax.js` async)
    
