mixin breadcrumb(...links)
  nav.breadcrumb(aria-label='Breadcrumb')
    ul
      li: a(href=`${root}index.html`) Index
      - for (let i=0; i < links.length; i+=2)
        if i+1 < links.length
          li: a(href=links[i])= links[i+1]
        else
          li= links[i]

mixin pageLink(pageOrAliasOrId)
  if typeof(pageOrAliasOrId) != 'string'
    a.page-link(href=`${root}page/${pageOrAliasOrId.aliasOrId}.html`)= pageOrAliasOrId.name
  else if pageIndex[pageOrAliasOrId]
    +pageLink(pageIndex[pageOrAliasOrId])
  else
    = pageOrAliasOrId
    | 
    | (missing)
